<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Tornado Safe Zone</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {% block extra_js %}
    {% endblock %}
</body>
</html>